/*body*/
body{
    margin-right: 5%;
    margin-left: 5%;
}



/*Mise en place de la nav*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 30px;
}
.link-nav ul{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    
}
.link-nav ul li {
    list-style-type: none;
}
.link-nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: #0065FC;
}
.logo img{
    height: 40px;
}
/* Champ de recherche*/
.search-content{
    display: flex;
}
.search-icon{
    background-color: #F2F2F2;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px 0  0 10px;
    line-height: 30px;
}
.button-search-world{
    height: 30px;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    
}
.button-search-world a{
    color: white;
    text-decoration: none;
    
}
/*Bouton filtre*/
.content-icon-filter i{
    background-color:#DEEBFF ;
    padding-left: 10px;
    padding-right: 10px;
    height: 43px;
    border-radius: 50%;
    line-height: 43px;
    color:#0065FC ;
    
}
.filter-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
}
.filter-title{
    font-weight: bold;
    margin-right: 15px;
}
/*Info*/
.info i{
    padding: 20px 0px 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    color:#0065FC ;
    margin-right: 25px;
    margin-left: none;
}
.info {
    display: flex;
    align-items: center;
}

.content-icon-filter{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-right: 25px;
    height: 2.8em;
    cursor: pointer;
}
.filter-container{
    padding: 20px 0px 20px 20px;
    align-items: center;
    margin-right: 25px;
    display: flex;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: none;   
}

    
/*Section rooms*/
.title-rooms{
    padding: 20px 0px 20px 20px;
    font-weight: bold;
    font-size: 1em;
}

.rooms-localisation img{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    object-fit: cover;
    width: 101%;
    height: 8em;
}
.rooms{
    background-color: #F2F2F2;
    padding: 20px 0px 20px 20px;
    border-radius: 30px;
}
.rooms-side{
    margin: 16px;
    background: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 29px;
    box-shadow: 4px 4px 6px #aaa;
    width: 17.5em;
    height: 16em;
    text-decoration: none;
}
.more-rooms {
    text-decoration: none;
}
section{
    display: block;
}
