/*body*/

body{
    margin-right: 5%;
    margin-left: 5%;
}



/*Mise en place de la nav*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 30px;
}
li a{

}
.link-nav ul{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    
}
.link-nav ul li {
    list-style-type: none;
}
.link-nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.logo img{
    height: 30px;
}
.nav-bold a{
    color: #0065fc;
    font-weight: bold;
}
.link-nav .nav-bold a{
    color: #0065FC ;
}
/* Champ de recherche*/
.search-content{
    display: flex;
}
.search-icon{
    background-color: #F2F2F2;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px 0  0 10px;
    line-height: 30px;
}
.button-search-world{
    height: 30px;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: none;
    
}
.button-smartphone{
    height: 30px;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: none;
    color: white;
    display: none;
}
.button-search-world a{
    color: white;
    text-decoration: none;
    
}   
input{
    border: inherit;
    border: 1px solid #F2F2F2;
}
/*media */
@media screen and (max-width:700px){
    .button-search-world{
        display: none;
        
    }
    .button-smartphone{
        display: block;
    }
}

/*Info*/
.info i{
    
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color:#0065FC ;
    margin-right: 10px;
    margin-left: none;
}
.info {
    display: flex;
    align-items: center;
    
    
}
.info p{
    padding-left: 2px;
}
.info-logo{
    border: 0px solid #DEEBFF;
    border-radius: 100%;
}
.filter-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.button-filter{
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #DEEBFF;
    border-radius: 25px;
    height: 43px;

}
.button-filter p{
    padding: 10px;
}
.content-icon-filter{
    height: 43px;
    width: 43px;
    color:#0065FC ;
    background-color:#DEEBFF ;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;

}


    
/*Section rooms*/
.title-rooms{
    padding: 20px 0px 20px 20px;
    font-weight: bold;
    font-size: 1em;
}

.rooms-side img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 8em;
}
.rooms{
    width: 100%;
    background-color: #F2F2F2;
    padding: 20px 0px 20px 20px;
    border-radius: 30px;
}
.rooms-side{
    margin: 7px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    box-shadow: 14px 5px 9px #aaa;
    width: 19.5em;
    height: 16em;
}
.more-rooms a {
    text-decoration: none;
}

#rooms{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px
}
#rooms a{
    text-decoration: none;
}
.rooms-side figcaption{
    margin-left: 5px;
}

/*Populaires*/
.popularity{
    background-color: #F2F2F2 ;
    border-radius: 30px;
}
#rooms-popularity img{
    border-radius: 10px 0 0 10px;
}
.rooms-side-popularity {
    display: flex;
    background: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 10px 20px;
    width: 40%;
    height: 40%;
}
.title-popularity{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}
.rooms-side-popularity img{
    width: 50%;
    height: 8em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;}
.rooms-side-popularity a{
    text-decoration: none;
}    
.rooms-side-popularity .figure{
display: flex;

}

